pandas
seaborn
matplotlib
spacy
spacy-curated-transformers
spacy[transformers]
cupy-cuda12x
spacy[cuda12x]
swifter
torch
tqdm
rapidfuzz
pyarrow
nltk
sentence-transformers
faiss-cpu
vertexai
google-genai
dotenv
pyvespa
FlagEmbedding
vespacli
rdflib